<div class="card w-50">
  <form #logForm="ngForm" (ngSubmit)=onSubmitForm(logForm)>
    <h1 style="text-align: center;">Login</h1>
    <h3>{{message}}</h3>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleInputUsername" name="username" [(ngModel)]="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>